#search-header {
    display: flex;
    justify-content: space-between;
}

#full-page-search {
    margin: 20px;
}

#full-page-search-exit {
    font-size: 30px;
}

#full-page-search-exit:hover {
    cursor: pointer;
    color: gray;
}

#full-page-search-form {
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#search-input {
    width: 80%;
    border-width: 0px;
    font-family: "Tiempos Text Regular", serif;
    font-size: 20px;
}

#search-buttons {
    display: flex;
    justify-content: space-between;
}

.search-button {
    border-width: 0px;
    font-family: "Tiempos Text Regular", serif;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}

.cancella-button {
    border-width: 0px;
    font-family: "Tiempos Text Regular", serif;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}

#SearchResults-view {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  #SearchResults-view .book {
    margin: 10px;
    padding: 5px;
    width: 150px;
    display: flex;
    flex-direction: column;
  }

.libro-format {
    display: flex;
    width: 19em;
    margin-top: 3em;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.libro-format:hover {
    color: grey;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.cop-libro {
    margin-right: 20px;
}

.img-libro {
    height: 200px;
    width: 101px;
}

.autore-libro {
    font-family: "Brandon Grotesque Bold";
    opacity: .7;
    margin-bottom: 0.4rem;
    text-transform: uppercase;
}

.titolo-libro {
    font-family: "Brandon Grotesque Bold";
    text-transform: uppercase;
}

